<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button size="small" color="danger" (click)="reset()">Reset All</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let tempat of tempats">
        <ion-card
          class="lokasi-card"
          [class.disabled-card]="!tempat.status"
        >
          <img [src]="tempat.url || 'assets/img/placeholder.jpg'" />
          <ion-card-content class="ion-text-center">
            <h2>{{ tempat.nama }}</h2>
            <p>{{ tempat.keterangan }}</p>
            <ion-button
              expand="block"
              [disabled]="!tempat.status"
              (click)="goToDetail(tempat.id)"
            >
              MULAI
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

