<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tes Koor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="putaran-row">
      </div>
      <ion-button size="small" color="success" (click)="selesaiRute()">Selesai</ion-button>
    </ion-card-content>
  </ion-card>

  <div id="map"></div>
</ion-content>
