<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      Nama Tempat Ibadah : {{tempat.nama}}
    </ion-item>
    <ion-item>
      Jumlah Putaran : {{putaran}}
    </ion-item>
    <ion-item>
      <div id="map"></div>
    </ion-item>
  </ion-list>
</ion-content>
