<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Jelajahi Tempat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Tempat Wisata</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="accordion-container">
    <ion-accordion-group expand="inset">
      <ion-accordion *ngFor="let tempat of tempats" value="{{ tempat.nama }}">
        <!-- Header -->
        <ion-item slot="header" color="tertiary" lines="none">
          <ion-label>
            <h2>{{ tempat.nama }}</h2>
            <p>{{ tempat.kategori }}</p>
          </ion-label>
          <ion-icon
            slot="end"
            name="chevron-down-outline"
            class="expand-icon"
          ></ion-icon>
        </ion-item>

        <!-- Content -->
        <div class="accordion-content" slot="content">
          <ion-img [src]="tempat.url" class="accordion-image"></ion-img>
          <p class="keterangan">{{ tempat.keterangan }}</p>
          <ion-button
            expand="block"
            color="primary"
            [routerLink]="['/detail', tempat.id]"
          >
            Detail Lokasi
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
