<ion-header>
  <ion-toolbar color="primary">
    <ion-title>e-Mutowif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dropdown-container">
    <ion-label>Pilih Tanggal:</ion-label>
    <ion-select
      interface="popover"
      placeholder="Tanggal"
      [(ngModel)]="selectedTanggal"
      (ionChange)="onTanggalChange($event)"
    >
      <ion-select-option *ngFor="let tgl of tanggalList" [value]="tgl">{{ tgl }}</ion-select-option>
    </ion-select>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let tempat of tempats">
        <ion-card class="lokasi-card" [class.disabled-card]="!isOpenOnSelectedDate(tempat.open)">
          <img [src]="tempat.url || 'assets/img/placeholder.jpg'" />
          <ion-card-content class="ion-text-center">
            <h2>{{ tempat.nama }}</h2>
            <p>{{ tempat.keterangan }}</p>
            <ion-button expand="block" (click)="goToDetail(tempat.id)">
              MULAI
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="lokasi-card">
          <ion-card-content class="ion-text-center">
            <h2>Tes Koordinat</h2>
            <p>Tes titik lokasi koordinat</p>
            <ion-button expand="block"  (click)="teskoor()">
              MULAI
            </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="lokasi-card">
          <ion-card-content class="ion-text-center">
            <h2>Tes Rute</h2>
            <p>Tes Rute dan Putaran</p>
            <ion-button expand="block" (click)="tesrute()">
              MULAI
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
