<ion-header>

  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Data Group Haji</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    placeholder="Cari Group..."
    animated="true">
  </ion-searchbar>

  <ion-card color="light">

    <ion-card-content>

      <h2>4 Group Haji</h2>

      <p>
        Pilih group untuk melihat daftar jamaah.
      </p>

    </ion-card-content>

  </ion-card>

  <ion-list>

    <!-- GROUP 01 -->

    <ion-item
      button
      routerLink="/admin/jamaah">

      <ion-avatar slot="start">

        <ion-icon
          name="people-circle"
          style="font-size:55px;">
        </ion-icon>

      </ion-avatar>

      <ion-label>

        <h2>Group Haji 01</h2>

        <p>Pembimbing : Ust. Ahmad</p>

        <p>Hotel : Al Safwah</p>

        <small>30 Jamaah</small>

      </ion-label>

      <ion-badge color="success">

        Aktif

      </ion-badge>

    </ion-item>


    <!-- GROUP 02 -->

    <ion-item
      button
      routerLink="/admin/jamaah">

      <ion-avatar slot="start">

        <ion-icon
          name="people-circle"
          style="font-size:55px;">
        </ion-icon>

      </ion-avatar>

      <ion-label>

        <h2>Group Haji 02</h2>

        <p>Pembimbing : Ust. Yusuf</p>

        <p>Hotel : Al Marwah</p>

        <small>30 Jamaah</small>

      </ion-label>

      <ion-badge color="success">

        Aktif

      </ion-badge>

    </ion-item>


    <!-- GROUP 03 -->

    <ion-item
      button
      routerLink="/admin/jamaah">

      <ion-avatar slot="start">

        <ion-icon
          name="people-circle"
          style="font-size:55px;">
        </ion-icon>

      </ion-avatar>

      <ion-label>

        <h2>Group Haji 03</h2>

        <p>Pembimbing : Ust. Ali</p>

        <p>Hotel : Al Haram</p>

        <small>30 Jamaah</small>

      </ion-label>

      <ion-badge color="warning">

        Offline 2

      </ion-badge>

    </ion-item>


    <!-- GROUP 04 -->

    <ion-item
      button
      routerLink="/admin/jamaah">

      <ion-avatar slot="start">

        <ion-icon
          name="people-circle"
          style="font-size:55px;">
        </ion-icon>

      </ion-avatar>

      <ion-label>

        <h2>Group Haji 04</h2>

        <p>Pembimbing : Ust. Hasan</p>

        <p>Hotel : Al Aziziyah</p>

        <small>30 Jamaah</small>

      </ion-label>

      <ion-badge color="danger">

        SOS 1

      </ion-badge>

    </ion-item>

  </ion-list>

</ion-content>